- provide(:title, "Kirjaudu")
%h1 Kirjaudu
.row
  .span4.offset4
    = form_for(:session, url: sessions_path) do |f|
      
      = f.label :email, "Sähköposti" 
      = f.text_field :email 
    
      = f.label :password, "Salasana"
      = f.password_field :password 
     
      = f.submit "Kirjaudu", class: "btn btn-large btn-primary pull-right"
 
  .span4.offset4  
    %p Ei vielä tiliä? #{link_to "Rekisteröidy", signup_path}
